{% extends 'base.html' %}
{% block title %}
    Sent Requests
{% endblock %}

{% block content %}
    <a href="{% url 'home' %}"> Go to home page</a>
    {% for i in sentRequests %}
        <form method="post" action="{% url 'cancelFriendRequest' %}">
        {% csrf_token %}
        <input type="hidden" name="searchedUser" value="{{ i }}">
        <a href="{% url 'profile' username=i %}" >{{ i }}</a> :
        <input type="submit" value="Cancel Request" name="RequestType">
        </form>

        <br>
    {% endfor %}
{% endblock %}